{% extends "home_base.html" %}
{% block  title %}About{% endblock %}

{% block content %}


<div class="w3-container w3-padding-64" id="contact">
    <h1>About Us</h1><br>
    <p>We...<strong>The BREAK THE CHAIN </strong>, website provides highly accurate corona probaility percentage.</p>
    <p>For our services</p>
    <p>Contact on: +91 9605946396</p>
    <p>Kumily, Idukki</p>
    <div class="site-section bg-light">
      <div class="container">
        <div class="row justify-content-center text-center mb-5 section-2-title">
          <div class="col-md-6">
            <h2 class="mb-4">Meet Our Partners</h2>
            <p></p>
          </div>
        </div>
        <div class="row align-items-stretch">
          <div class="col-lg-4 col-md-6 mb-5">
            <div class="post-entry-1 h-100 person-1">
                <img src="/static/images/icon1.png" alt="Image" class="img-fluid">
              <div class="post-entry-1-contents">
                <span class="meta">Co-Founder</span>
                <h2>Damu</h2>
                <p></p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-5">
            <div class="post-entry-1 h-100 person-1">
                <img src="/static/images/icon3.png" alt="Image" class="img-fluid">
              <div class="post-entry-1-contents">
                <span class="meta">Co-Founder</span>
                <h2>Ramanan</h2>
                <p></p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-5">
            <div class="post-entry-1 h-100 person-1">
                <img src="/static/images/icon2.png" alt="Image" class="img-fluid">
              <div class="post-entry-1-contents">
                <span class="meta">Co-Founder</span>
                <h2>...</h2>
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}