{% extends "home_base.html" %}
{% load static %}
{% block  title %}About{% endblock %}

{% block content %}


<div class="container p-2 mt-4" id="contact">
  <h2>Points to be Remember</h2><br>
  <h4>Avoid close contact (1 meter or 3 feet) with people who are unwell.</h4>
  <h4>Stay home and self-isolate from others in the household if you feel unwell.</h4>
  <h4>Wash your hands regularly for 20 seconds, with soap and water or alcohol-based hand rub.</h4>
  <h4>Cover your nose and mouth with a disposable tissue or flexed elbow when you cough or sneeze.</h4><br><br>
  
  <div class="row align-items-stretch">
  <img src="{% static 'images/icon-2.png' %}" alt="Image" class="img-fluid">
  <img src="{% static 'images/icon-3.png' %}" alt="Image" class="img-fluid">
  <img src="{% static 'images/icon-4.png' %}" alt="Image" class="img-fluid">
  <img src="{% static 'images/icon-5.png' %}" alt="Image" class="img-fluid">
  <img src="{% static 'images/icon-6.png' %}" alt="Image" class="img-fluid">
  <img src="{% static 'images/icon-1.png' %}" alt="Image" class="img-fluid">
  </div>
  <br><br><br>
  <h1>About Us</h1><br>
  <p>We...<strong>The BREAK THE CHAIN </strong>, website provides highly accurate corona probaility percentage.</p>
  
  <p>For our services</p>
  <p>Contact on: +91 9605946396</p>
  <p>Kumily, Idukki</p>
</div> 
  <div class="site-section bg-light">
    <div class="container">
      <div class="row justify-content-center text-center mb-5 section-2-title">
        <div class="col-md-6">
          <h2 class="mb-4 mt-3">Meet Our Partners</h2>
          <p></p>
        </div>
      </div>
      
      <div class="row align-items-stretch">
        <div class="col-lg-4 col-md-6 mb-5">
          <div class="post-entry-1 h-100 person-1">
            <img src="{% static 'images/icon1.png' %}" alt="Image" class="img-fluid">
            <div class="post-entry-1-contents">
              <span class="meta">Co-Founder</span>
              <h2>Abin T John</h2>
              <p></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-5">
          <div class="post-entry-1 h-100 person-1">
            <img src="{% static 'images/Icon3.png' %}" alt="Image" class="img-fluid">
            <div class="post-entry-1-contents">
              <span class="meta">Co-Founder</span>
              <h2>Mohammed Yasim</h2>
              <p></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-5">
          <div class="post-entry-1 h-100 person-1">
            <img src="{% static 'images/Icon2.png' %}" alt="Image" class="img-fluid">
            <div class="post-entry-1-contents">
              <span class="meta">Technical Partner</span>
             <!--<h2><a target="_blank" href="https://diyainfocare.azba.in">Diyainfocare</a></h2> --> 
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock content %}