{% extends 'po_base.html' %}
{% block title %}COMMUNITY KITCHEN ORDERS{% endblock title %}
{% block content %}
<div class="card shadow shadow-lg shake">
    <div class="card-header bg-gradient-primary text-white">
        <h3 class="card-title">Covid Test Result
        <a href="/portal_official/kitchen_orders"
            class="float-right btn btn-sm btn-warning btn-toolbar">
            <span aria-hidden="true"><i class="fa fa-sync-alt"></i></span></a>
            </h3>
            <p>{% now 'd-m-Y'%}</p>
    </div>
    <div class="card-body bg-white">
<table class="table table-bordered">
<thead>
<tr>
<th>Name</th>
<th>Address</th>
<th>PhoneNo</th>
<th>Probability(%)</th>

</tr>
<tbody>

{% for datas in data%}
<tr>
    <td>{{ datas.user_id.fname }} {{ datas.user_id.lname }}</td>
    <td>{{ datas.user_id.address }}</td>
    <td>{{ datas.user_id.login }}</td>
    <td>{{ datas.result }}</td>
    <td>
    <button onclick=" ViewProfile('{{ datas.user_id.login }}')" class="btn btn-sm btn-primary">View Profile</button>                     
    </td>
</tr>

{% endfor %}
</tbody>
</table>
    </div>
</div>


<div class="modal fade" id="ProfileViewModal" tabindex="-1" role="dialog" aria-labelledby="ProfileViewModal"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ProfileViewModalLabel"></h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block script %}
{% load static %}
<script src="{% static 'sb/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'sb/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script>
    // Call the dataTables jQuery plugin
    $(document).ready(function () {
        $('#dataTable').DataTable();
    });

    function ViewProfile(login) {
        $("#ProfileViewModal .modal-body").html("Please wait <br> Loading data....");
        $("#ProfileViewModalLabel").text("Loading Profile......");
        $("#ProfileViewModal").modal('show');
        $.ajax({
            url: "/portal_official/usertestresultprofile?login=" + login,
            success: function (data) {
                $("#ProfileViewModal .modal-body").html(data);
            },
            error: function (data) {
                $("#ProfileViewModal .modal-body").html("Error");
                $("#ProfileViewModalLabel").text("No data")
            }
        });
    }
</script>
{% endblock script %}