{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% block title %} Athentication {% endblock %} | {{ settings.PORTAL_NAME }}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/mdb.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/news.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <style>
        html {
            background:white;
            font-size:90%;
        }

        .splash-container {
            min-height: 80vh;
        }

        body {
            -ms-overflow-style: none;
        }

        ::-webkit-scrollbar {
            display: none;
        }
    </style>
</head>
<body>
{% block content %}
{% endblock %}
 <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/mdb.min.js' %}"></script>
</body>

</html>